.nav-bar {
	max-width: 100%;
	display: flex;
	align-items: center; 
	justify-content: space-between;	
}

.login, .login__user {
	display: flex;
	gap: 8px;
	align-items: center;
}

.login img, .login__user img  {
	width: 24px;
	height: 24px;
}

