.nav-bar {
	max-width: 100%;
	display: flex;
	align-items: center; 
	justify-content: space-between;	
}

.login, .login__user {
	display: flex;
	gap: 8px;
	align-items: center;
}

.login img, .login__user img  {
	width: 24px;
	height: 24px;
}

.fav {
	display: flex;
	gap: 8px;
	align-items: center;
	justify-content: center;
}
.fav-count {
	width: 24px;
	height: 24px;
	border-radius: 100%;
	background-color: #7b6ef6;
	font-weight: var(---font-weight-bold);
	font-size: var(--font-size-small);
	line-height: 171%;
	letter-spacing: 0.02em;
	color: var(--color-active-link);
	text-align: center;
}