.favourite {
	display: flex;
	flex-wrap: nowrap;
	gap: 11px;
	min-width: 134px;
	height: 24px;
}

.favourite img {
	cursor: pointer;
}

.fav-button {
	background: none;
	border: none;
	padding: 0;
}

.favourite__info {
	font-weight: var(--font-weight-bold);
	line-height: 150%;
	letter-spacing: 0.02em;
	color: var(--color-action);
}

.favourite__info_active {
	color: var(--color-active-action);
}


