:root {
  --font-weight-bold: 600;
  --font-weight-regular: 400;
  --font-size-default: 16px;
  --font-size-small: 14px;
  --color-bg: #121829;
  --color-important-text: #ebeef5;
  --color-active-link: #fff;
  --color-inactive-link: #a8aebf;
  --color-paragraph-text: #8e95a9;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 16px 120px;
  font-family: "Poppins", sans-serif;
  font-weight: var(--font-weight-regular);
  font-style: normal;
  font-size: var(--font-size-default);
  font-weight: var(--font-weight-regular);
  background-color: var(--color-bg);
} 

